.main {
    margin: 2rem 0;
  }
  
  .product--image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    margin: auto 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  h2 {
    font-size: 24px;
    margin-top: 1rem;
    font-weight: 500;
  }
  
  .price {
    color: #1a202c;
    font-size: 28px;
    margin: 1rem 0;
    font-weight: 600;
  }
  
  .main h1 {
    font-size: 36px;
    font-weight: 700;
    text-align:center;
    margin-bottom: 2rem;
    color: #1a202c;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .main p {
    text-align: center;
    font-size: 18px;
  margin-bottom: 2rem;
    color: #6b7280;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .carousel-container .react-multi-carousel-item {
    margin-right: 1rem;
  }
  
  .carousel-container .react-multi-carousel-item:first-child {
    margin-left: 1rem;
  }
  
  .carousel-container .react-multi-carousel-item:last-child {
    margin-right: 0;
  }
  
  .carousel-container .react-multi-carousel-dot--active {
    background-color: #000;
  }
  
  .carousel-container  {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .carousel-container .react-multi-carousel-dot {
    background-color: white;
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .header {
    font-size: 28px;
    font-weight:bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #1a202c;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
