.container{
  /* background-color: aquamarine; */
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content: space-around; 
  padding: 10px;
}

.input {
    margin-top: 25px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 1.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 300px;
  }


  .header{
    text-align: center;
    font-family: sans-serif;
    color: rgb(0, 58, 124);
    font-size: 3em;
    text-transform: uppercase;
    /* justify-content: space-between; */
  }